@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Source+Serif+4:wght@800&display=swap");
.error {
  background-color: #cc3300 !important;
}

.warning {
  background-color: #ffcc00 !important;
}

.ok {
  background-color: #339900 !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* just to be sure these are full screen*/
canvas {
  display: block;
  width: 100%;
  height: 100%;
}

/* To remove the scrollbars */
button {
  cursor: pointer;
  border-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  width: 100%;
  height: 100%;
  background-color: black;
}

.info {
  color: white;
  font-family: "Source Serif 4", sans-serif;
}

.selected {
  background: #ade8f4 !important;
  color: #fffcf2 !important;
}

.card-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(32px);
          backdrop-filter: blur(32px);
  padding: 10px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 15px;
  max-width: 600px;
  width: 90%;
  font-family: "Fira Code", sans-serif;
  color: white;
}

@media screen and (max-width: 480px) {
  .card-container {
    width: 99%;
  }
}

.card-title {
  font-family: "Source Serif 4", sans-serif;
}

.card-top {
  top: 20%;
}

.form-element:not(:last-child) {
  margin-bottom: 14px;
}

.form-element-title {
  margin-bottom: 5px;
}

.form-element-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.form-element-option {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Fira Code", sans-serif;
  background-color: #fffcf2;
  color: #ade8f4;
  padding: 5px 10px;
}

@media (hover: hover) {
  .form-element-option:hover {
    background: #ade8f4;
    color: #fffcf2;
  }
}

nav {
  font-family: "Fira Code", sans-serif;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

nav a {
  padding: 10px 15px;
  background-color: #fffcf2;
  color: #000814;
}
